
// SixteenColors Style Imports

@import "/node_modules/vuetify/dist/vuetify.min.css";
@import "/node_modules/material-design-icons/iconfont/material-icons.css";

// SixteenColors Global Web Fonts

@font-face {

    font-family: '8x16';
    src: url('/assets/fonts/dos437-webfont.woff');
    src: local('Ã¢ËœÂº'), url('/assets/fonts/dos437-webfont.woff') format('woff'), url('/assets/fonts/dos437-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@dos-font: '8x16' !important;

// SixteenColors Global Colors

@background: grey;

html {
    background-color: @background;
    min-width: 480px;
}
body {
    background-color: @background;
    font-family: @dos-font;
    font-size: large;
}

.toolbar__content img {
    margin-top: 40px;
    height: 100px;
    width: auto;
}

#header {
    margin: 0;
}

.footer {
    padding: 10px;
}
