doctype html
html(lang="en")
    head

        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")

        title SixteenColors Ansi &amp; Ascii Artwork Archive

        block style

            style
                include:less sixteencolors.style.less

    body

        v-app(dark)

            #header

                v-toolbar(dark extended fluid).black

                    a(href="/index")
                        img(src="/assets/images/sixteencolors-logo-small.png")
                    
                    v-spacer
                    
                    v-toolbar-items
                        v-btn(flat href="/artpacks") Artpacks
                        v-btn(flat href="/artists") Artists
                        v-btn(flat href="/groups") Groups

            block view

            #footer

                v-footer(dark fixed height="64").black
                    
                    v-spacer

                    div.white--text (c) #{ new Date().getFullYear() } SixteenColors


        block component

            script(src="/sixteencolors.component.bundle.js")
