extends ../sixteencolors.layout.pug

append style

    style
        include:less index.style.less

append view

    #auth.grey.lighten-3

        v-content(fluid)


append component

    script(src="/index/index.component.bundle.js")
