extends ../sixteencolors.layout.pug

append style

    style
        include:less groups.style.less

append view 

    #groups.grey.lighten-3

        v-content(fluid)


append component

    script(src="/groups/groups.component.bundle.js")
